[Unit]
Description=DrukMix DMBus Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=dan
Environment=DRUKMIX_CONFIG=/home/dan/printer_data/config/drukmix.cfg
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/dan/drukmix
ExecStart=/usr/bin/python3 /home/dan/drukmix/drukmix_dmbus_agent.py
Restart=always
RestartSec=0.5
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
